{% extends "core/registration/base_login.html" %}

{% load static %}

{% block title %}
Inventario | Perfil
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow rounded">
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0">Editar Perfil</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label_tag }}</label>

                                {{ field }}
                               
                                {% if field.errors %}
                                    <div class="text-danger small">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="d-grid text-center">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-user-edit"></i> Guardar cambios</button>
                            <a href="{% url 'home' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}