.content-wrapper {
    background: linear-gradient(to right, #134E5E, #71B280);
    padding: 10px;
    overflow-x: auto;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
}

.product-thumb {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.product-modal-image {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
}

.product-detail-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}