{% extends "core/base.html" %}

{% block content %}
<h1>Movimientos</h1>
<a href="{% url 'movement_create' %}" class="btn btn-primary">Crear Movimiento</a>
<br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for movement in movements %}
        <tr>
            <td>{{ movement.id }}</td>
            {% if movement.movement_type == 'IN' %}
                <td>Ingreso</td>
            {% else %}
                <td>Egreso</td>
            {% endif %}
            <td>{{ movement.date|date:"d/m/Y" }}</td>
            <td>{{ movement.description }}</td>
            <td>
                <a href="{% url 'movement_update' movement.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'movement_delete' movement.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
