<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %} {% load bootstrap4 %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Machineparts{% endblock %}
  </title>
  <!-- Bootstrap CSS 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    -->
  {% bootstrap_css %}
  <!-- Consola Mono Font -->
  <link href="https://fonts.cdnfonts.com/css/consola-mono" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
  <!-- Bootstrap Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
    rel="stylesheet" />
  <style>
    .fixed-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa;
      color: #6c757d;
      text-align: center;
    }
  </style>
  {% block style %} {% endblock style %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: yellow">MACHINEPARTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <!-- Nav-item Mantenimiento -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="Mantenimiento" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Mantenimiento
          </a>
          <div class="dropdown-menu" aria-labelledby="Mantenimiento">
            <a class="dropdown-item" href="{% url 'client_list' %}">Clientes</a>
            <a class="dropdown-item" href="{% url 'product_list' %}">Productos</a>
            <a class="dropdown-item" href="{% url 'supplier_list' %}">Proveedores</a>
            <a class="dropdown-item" href="{% url 'brand_list' %}">Marcas</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'proforma_list' %}">Proformas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="Movimientos" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Movimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="Movimiento">
            <a class="dropdown-item" href="{% url 'movement_list' %}">Registrados</a>
            <a class="dropdown-item" href="{% url 'movement_new' %}">Nuevo</a>
            <a class="dropdown-item" href="{% url 'movement_create' %}">Nuevo2</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reportes' %}">Reportes</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'cliente_new' %}" data-toggle="tooltip" data-placement="top" title="Nuevo cliente"><i class="bi bi-person-plus"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="{% url 'producto_new' %}" data-toggle="tooltip" data-placement="top" title="Nuevo producto"><i class="bi bi-box-seam"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'proforma_new' %}" data-toggle="tooltip" data-placement="top" title="Nueva proforma"><i class="bi bi-file-earmark-plus"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="{% url 'supplier_create' %}" data-toggle="tooltip" data-placement="top" title="Nuevo proveedor"><i class="bi bi-truck"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="{% url 'brand_create' %}" data-toggle="tooltip" data-placement="top" title="Nueva marca"><i class="bi bi-tags"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="m-4">{% block content %} {% endblock %}</div>

  <footer class="fixed-footer bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2024 Copyright:
      <a class="text-white" href="#">WFarel</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <!-- Bootstrap JS 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    -->
  {% bootstrap_javascript jquery='full' %} {% block scripts %} {% endblock %}
</body>

</html>