{% extends 'core/index.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{quanty_products}}</h3>

          <p>Productos</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'product_list' %}" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{quanty_clients}}</h3>

          <p>Clientes</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
        <a href="{% url 'client_list' %}" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{quanty_suppliers}}</h3>

          <p>Proveedores</p>
        </div>
        <div class="icon">
          <i class="ion ion-podium"></i>
        </div>
        <a href="{% url 'supplier_list' %}" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{quanty_proformas}}</h3>

          <p>Proformas</p>
        </div>
        <div class="icon">
          <i class="ion ion-clipboard"></i>
        </div>
        <a href="{% url 'proforma_list' %}" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
{% endblock %}