{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>Lista de productos</h2>        
    <form method="get">
        <input type="text" name="q" id="search-field" placeholder="Buscar por codigo o descripción" value="{{ request.GET.q }}">
        <button type="submit">Buscar</button>
    </form>
    <br>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th style="text-align: center;">Stock</th>
                <th>Ubicación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td style="text-align: right;">{{ producto.precio }}</td>
                    <td style="text-align: center;">{{ producto.stock }}</td>
                    <td>{{ producto.location }}</td>
                    <td>
                        <a href="{% url 'product_detail' producto.id %}" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                        <a href="{% url 'product_edit' producto.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No se encontraron productos.</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?q={{ request.GET.q }}&page=1">&laquo; primera</a>
                <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>

    <a href="{% url 'producto_new' %}" class="btn btn-success btn-sm">Producto <i class="bi bi-plus-circle"></i></a>
{% endblock %}

{% block scripts %}
    <!-- JavaScript para enfocar el campo de búsqueda -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("search-field").focus();
        });
    </script>
{% endblock %}