<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proforma</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; font-size: 12px; }
        table { width: 100%; border-collapse: collapse;  }
        th, td { border: 1px solid #000; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }

    </style>
</head>
<body>
    <strong>MACHINEPARTS</strong> - 5to anillo - Av. Alemana - Santa Cruz - Bolivia - Celular: 69229897
    <h2 style="text-align: center;">Proforma {{id}}</h2>
    <p><strong>Cliente:</strong> {{ cliente }}</p>
    <p><strong>Fecha:</strong> {{ fecha|date:"d/m/Y" }}</p>
    
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>PrecioU.</th>
                <th>Total</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            {% for item in detalles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.producto.descripcion }}</td>
                <td style="text-align: center;">{{ item.cantidad }}</td>
                <td style="text-align: right;">{{ item.precio_venta }}</td>
                <td style="text-align: right;">{{ item.subtotal|floatformat:2 }}</td>
                <td style="text-align: center;">{{ item.producto.location }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><strong>Total: {{literal}}</strong></td>
                <td style="text-align: right;"><strong>{{ total }}</strong></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
    <br>
    <br>
    <!-- Tabla de Firmas -->
    <table class="signatures-table">
        <tr>
            <td><strong>Entregado por:</strong></td>
            <td><strong>Recibido por:</strong></td>
        </tr>
        <tr>
            <td>_________________________</td>
            <td>_________________________</td>
        </tr>
    </table>

</body>
</html>
