{% extends 'core/base.html' %}

{% block title %}Reportes{% endblock %}

{% block content %}
    <h1>Módulo de Reportes y Análisis</h1>
    <a href="{#}" class="btn btn-primary">Reporte de Proformas</a>
    <p>Información detallada sobre las ventas realizadas en un periodo.</p>
    <a href="{#}" class="btn btn-primary">Reporte de Productos</a>
    <p>Estado actual del inventario, productos bajos en stock, etc.</p>
    <a href="{#}" class="btn btn-primary">Reporte de Clientes</a>
    <p>Análisis del comportamiento de los clientes.</p>
    <a href="{#}" class="btn btn-primary">Reporte de Proveedores</a>
    <p>Desempeño de los proveedores, tiempos de entrega, etc.</p>
    <a href="{#}" class="btn btn-primary">Análisis de Tendencias</a>
    <p>Tendencias de ventas y productos populares.</p>
{% endblock %}