{% extends 'core/list.html' %}

{% block columns%}
<th>Id</th>
<th>Fecha</th>
<th>Descripción</th>
<th>Usuario</th>
<th>Estado</th>
<th>Acciones</th>
{% endblock %}

{% block rows %}
    <td>{{ obj.id }}</td>
    <td>{{ obj.date|date:"d/m/Y" }}</td>
    <td>{{ obj.description }}</td>
    <td>{{ obj.user.name }}</td>
    <td>{% if obj.status == 'confirmed' %}
        <span class="badge badge-success">Confirmado</span>
        {% else %}
        <span class="badge badge-warning">Pendiente</span>
        {% endif %}
{% endblock rows %}

{% block actions %}
{% if obj.status == 'confirmed' %}
<a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
{% else %}
<a href="{% url 'update_product_entry' obj.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
{% endif %}
{% endblock actions %}

{% block create %}
<a href="{% url 'create_product_entry' %}" class="btn btn-dark btn-sm">Ingreso <i class="fa fa-plus"></i></a>
{% endblock create %}