{% extends 'core/index.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<h2>Detalles</h2>

<form method="post">
    {% csrf_token %}
    <div class="row mb-3">
        {{ form.as_p }}
    </div>
    
    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Guardar</button>
    <a href="{% url 'product_entry' %}" class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Cancelar</a>
</form>


<div class="table mt-3">
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}