{% extends 'core/index.html' %}
{% block title %}Proformas{% endblock %}


{% block content %}
    <h2>Proformas</h2>
    <form method="get">
        <input type="text" name="q" id="search-field" placeholder="Buscar por proforma o cliente" value="{{ request.GET.q }}">
        <button type="submit">Buscar</button>
    </form>
    <br>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for proforma in proformas %}
                <tr>
                    <td>{{ proforma.id }}</td>
                    <td>{{ proforma.fecha|date:"d/m/Y" }}</td>
                    <td>{{ proforma.cliente }}</td>
                    <td>{{ proforma.total }}</td>
                    {% if proforma.estado == 'PENDIENTE' %}
                        <td><span class="badge bg-warning text-dark">{{ proforma.estado }}</span></td>
                    {% elif proforma.estado == 'EJECUTADO' %}
                        <td><span class="badge bg-success">{{ proforma.estado }}</span></td>
                    {% else %}
                        <td><span class="badge bg-danger">{{ proforma.estado }}</span></td>
                    {% endif %}
                    <td>
                        {% if proforma.estado == 'PENDIENTE' %}
                            <a href="{% url 'proforma_edit' proforma.id %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        {% endif %} 
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No se encontraron proformas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?q={{ request.GET.q }}&page=1">&laquo; primera</a>
                <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    
    <a href="{% url 'proforma_new' %}" class="btn btn-success btn-sm">Proforma <i class="fas fa-plus"></i></a>
{% endblock %}

{% block scripts %}
    <!-- JavaScript para enfocar el campo de búsqueda -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("search-field").focus();
        });
        // Quitar los especios en blancos del imput
        document.getElementById('search-field').addEventListener('change', function() {
            this.value = this.value.trim();
        });
    </script>
{% endblock %}