<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; font-size: 11px;}
        h2 { text-align: center; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 5px; text-align: center; }
        th { background-color: #f2f2f2; }

        .tr-datos td { border: 0; }

        .sin-borde { border: 0; }

        .td-derecha { 
            text-align: right; 
        }
        .td-izquierda { 
            text-align: left; 
        }
        .h3-derecha { 
            text-align: right; 
        }

    </style>
</head>
<body>

    <table>
        <tr>
            <td class="sin-borde td-izquierda" style="width: 30%;">
                <strong>{{ company.name }}</strong> <br>
                {% if company.address %}
                    {{ company.address }} <br>
                {% endif %}
                {% if company.phone %}
                    Telf.: {{ company.phone }} <br>
                {% endif %}
                {% if company.city %}
                    {{ company.city }}
                {% endif %}
            </td>
            <td class="sin-borde">
                {% if proforma.estado == 'EJECUTADO' %}
                    <h2 style="text-align: center;">NOTA DE VENTA</h2>
                    <p>PROFORMA #{{ proforma.id }}</p>
                {% else %}
                    <h2 style="text-align: center;">PROFORMA #{{ proforma.id }}</h2>
                {% endif %}
            </td>
            <td class="sin-borde td-derecha" style="width: 30%;">
                {% if logo_url %}
                    <img src="{{ logo_url }}" alt="Logo" style="width: 150px; height: 80px;">
                {% else %}
                    <p>Logo no disponible</p>
                {% endif %}
            </td>
        </tr>
    </table>
    
    <table>
        <tr class="tr-datos">
            <td class="td-izquierda">
                <strong>Cliente: </strong>{{ proforma.cliente }} <br>
                <strong>Nit: </strong>{{ proforma.cliente.nit }}
            </td>
            <td class="td-derecha">
                <strong>Fecha: </strong>{{ proforma.fecha|date:"d/m/Y" }} <br>
                <strong>Vendedor: </strong>{{ proforma.usuario.name }}
            </td>
        </tr>
    </table>
    <br>
    <table class="t-detalle">
        <thead>
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Ubicación</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>
                    Precio
                    {% if company.currency == 'BOB' %}
                        (Bs)
                    {% elif company.currency == 'USD' %}
                        ($)
                    {% elif company.currency == 'EUR' %}
                        (€)
                    {% endif %}
                </th>
                <th>
                    Subtotal
                    {% if company.currency == 'BOB' %}
                        (Bs)
                    {% elif company.currency == 'USD' %}
                        ($)
                    {% elif company.currency == 'EUR' %}
                        (€)
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="td-izquierda">{{ detalle.producto.nombre }}</td>
                <td>{{ detalle.producto.location }}</td>
                <td class="td-izquierda">{{ detalle.producto.descripcion }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td class="td-derecha">{{ detalle.precio_venta }}</td>
                <td class="td-derecha">{{ detalle.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <td class="sin-borde td-izquierda">
             {{ total_literal }}
            {% if company.currency == 'BOB' %}
                Bs.-
            {% elif company.currency == 'USD' %}
                Dólares
            {% elif company.currency == 'EUR' %}
                Euros
            {% endif %}
        </td>
        <td class="sin-borde td-derecha">
            <strong>Total:
                {% if company.currency == 'BOB' %}Bs{% elif company.currency == 'USD' %}${% elif company.currency == 'EUR' %}€{% endif %}
            </strong> {{ proforma.total }}<br>
            <strong>Descuento:
                - {% if company.currency == 'BOB' %}Bs{% elif company.currency == 'USD' %}${% elif company.currency == 'EUR' %}€{% endif %}
            </strong> {{ proforma.total_descuento|floatformat:2 }}<br>
            ----- <br>
            <strong>Total Neto:
                {% if company.currency == 'BOB' %}Bs{% elif company.currency == 'USD' %}${% elif company.currency == 'EUR' %}€{% endif %}
            </strong> {{ proforma.total_neto|floatformat:2 }}     
        </td>
</table>

{% if company.currency != 'BOB' %}
    <h3 id="dolarBoliviano" class="h3-derecha">Bs.- {{ total_bs|floatformat:2 }}</h3>
{% endif %}

<br>
<table>
    <tr>
        <td class="td-izquierda">
            <strong>Observaciones: </strong>{{ proforma.observacion }}
        </td>
    </tr>
</table>
<br>
<br>
<br>

<!-- Añadir Recibido por: Nombre y Firma -->
<table style="margin-top: 30px;">        
    <td style="border: 0;">
        Entregue Conforme: ________________________<br><br>
        Nombre: ______________________<br><br>
        CI    : ________________<br>
    </td>
    <td style="border: 0;">
        Recibido Por: ________________________<br><br>
        Nombre: ______________________<br><br>
        CI    : ________________<br>
    </td>
</table>


</body>

</html