{% extends 'core/index.html' %}

{% block title %}Proforma{% endblock %}
{% load static %}


{% block style %}
{% endblock style %}

{% block content %}
    <div class="row pt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos de la proforma</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Proforma: {{ proforma.id }} <br></strong>
                            Cliente: {{ proforma.cliente }} <br>
                            Nit: {{ proforma.cliente.nit }} <br>
                        </div>
                        <div class="col-md-6">
                            Fecha: {{ proforma.fecha|date:"d/m/Y" }} <br>
                            Vendedor: {{ proforma.usuario.name }} <br>                            
                            {% if proforma.estado == 'EJECUTADO' %}
                                <span class="badge badge-success">Ejecutada</span>
                            {% elif proforma.estado == 'PENDIENTE' %}
                                <span class="badge badge-warning">Pendiente</span>
                            {% elif proforma.estado == 'ANULADO' %}
                                <span class="badge badge-danger">Anulada</span>
                            {% else %}
                                <span class="badge badge-secondary">Desconocido</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalle de la proforma</h3>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <td>#</td>
                                <th>Código</th>
                                <th>Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-right">Precio($)</th>
                                <th class="text-right">Subtotal($)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalles %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ detalle.producto.nombre }}</td>
                                    <td>{{ detalle.producto.descripcion }}</td>
                                    <td class="text-center">{{ detalle.cantidad }}</td>
                                    <td class="text-right">{{ detalle.precio_venta }}</td>
                                    <td class="text-right">{{ detalle.subtotal }}</td>
                                </tr>
                                
                            {% empty %}
                                <tr>
                                    <td colspan="4">No se encontraron detalles.</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right" >
                                    Total: $ {{ proforma.total }}
                                    <br>
                                    Descuento: -$ {{ proforma.total_descuento|floatformat:2 }}
                                    <br>
                                    ----
                                    <br>
                                    <strong>Total_Neto: $ {{ proforma.total_neto|floatformat:2 }}</strong>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'proforma_list' %}" class="btn btn-danger btn-sm mb-3"><span class="fa fa-arrow-left"></span> Volver</a>

{% endblock content %}

{% block script %}
{% endblock script %}

