{% extends 'core/index.html' %}

{% block title %}Proforma New{% endblock %}
{% load static %}


{% block style %}
<style>
  /* Estilos generales */
  @media print {

    .total {
      visibility: visible;
    }

    .no-mostrar{
      visibility: hidden;
      display: flex;
      align-items: center; /* Alinea verticalmente */
      gap: 10px; /* Espaciado entre los botones */
      flex-wrap: wrap; /* Permite que los botones se ajusten si no hay espacio */
    }

    .productos,
    .productos * {
      visibility: hidden;
    }

    .no-mostrar,
    .productos {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
</style>
{% endblock style %}


{% block content %}
<div id="proforma">
  <div class="row">
    <div class="col-md-12">
      <strong>
        <h2>Proforma: {{proforma.id}}</h2>
      </strong>
    </div>
    <div class="col-md-4">
        Cliente: {{proforma.cliente}}
        <a href="{% url 'proforma_add_client' proforma.id %}" class="btn btn-warning btn-sm no-mostrar"><i
        class="fas fa-user-plus"></i></a>
    </div>
    <div class="col-md-4">
        Nit: {{proforma.cliente.nit}}
    </div>
    <div class="col-md-4 text-right">
      Fecha: {{proforma.fecha|date:"d/m/Y"}}
    </div>
  </div>
  <hr class="no-mostrar">
</div>

<div class="productos">
  <h2>PRODUCTOS</h2>
  <form method="get">
    <input type="text" name="q" id="search-field" placeholder="{{placeholder}}" value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
  </form>
  <br>
  <table class="table table-bordered table-sm">
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Marca</th>
      <th>Stock</th>
      <th>P.Ref.</th>
      <th style="width: 10px;">Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
      <th></th>
    </tr>

    {% for producto in productos_list %}
    <tr>
      <form method="POST" action="{% url 'agregar_producto_a_detalle' %}">
        {% csrf_token %}
        <input type="hidden" name="proforma_id" value="{{ proforma.id }}">
        <input type="hidden" name="producto_id" value="{{ producto.id }}">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        {% if producto.brand == None %}
          <td>--</td>
        {% else %}
          <td>{{ producto.brand.initials }}</td>
        {% endif %}
        
        <td style="text-align: center;">{{ producto.stock }}</td>
        <td style="text-align: right;">{{ producto.latest_price }}</td>
        <td><input type="number" id="precio{{ producto.id}}" name="precio" value="{{producto.precio}}" step="0.01" style="width: 80px; text-align: right;">
        </td> 
        <td><input type="number" id="cantidad{{ producto.id}}" name="cantidad" placeholder="0" style="width: 80px; text-align: right;"></td>
        <td><input type="number" id="subtotal{{ producto.id}}" name="subtotal" value="{{ producto.precio  }}" readonly style="width: 80px; text-align: right;">
        </td>
        <td><button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i></button></td>
      </form>
    </tr>
    {% endfor %}
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?q={{ request.GET.q }}&page=1">&laquo; primera</a>
      <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">siguiente</a>
      <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
<br>
<hr class="no-mostrar">

<div id="mensaje">
  {% if messages %}
  <div>
    {% for message in messages %}
      <div class="alert alert-danger alert-sm" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<div class="detalle">
  <h2>DETALLE DE PRODUCTOS</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Item</th>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Subtotal</th>
        <th>Ubicación</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for detalle in detalles %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ detalle.producto }}</td>
        <td>{{ detalle.producto.descripcion }}</td>
        <td style="text-align: center;">{{ detalle.cantidad }}</td>
        <td style="text-align: right;">{{ detalle.precio_venta }}</td>
        <td style="text-align: right;">{{ detalle.subtotal }}</td>
        <td style="text-align: center;">{{ detalle.producto.location }}</td>
        <td><a href="{% url 'eliminar_producto_a_detalle' detalle.id %}" class="btn btn-danger btn-sm no-mostrar"><i
              class="fas fa-trash-alt"></i></a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No se encontraron productos.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="total">
  <table class="table table-sm">
    <tr>
      <td>Total: {{literal}}</td>
      <td>{{ proforma.total }}</td>
    </tr>
  </table>
</div>
<br>

<div class="no-mostrar text-center mb-5 pb-5">
  <h3>ESTADO DE LA PROFORMA</h3>
  <form method="POST" action="{% url 'cambiar_estado_proforma' proforma.id %}" class="d-inline">
    {% csrf_token %}
    <!-- Campo de descuento -->
    <div class="row mb-3">
      <div class="col-md-2 offset-md-5">
        <label for="descuento" class="form-label">Descuento (%)</label>
        <input type="number" step="0.01" min="0" max="10" 
             class="form-control text-end" id="discount_percentage" name="discount_percentage"
             value="{{ proforma.discount_percentage|default:0 }}">  
      </div>      
    </div>
    <!-- Campo de estado -->
    <div class="form-check pb-3">
      <input class="form-check-input" type="checkbox" value="EJECUTADO" id="estado" name="estado"
        {% if proforma.estado == 'EJECUTADO' %} checked {% endif %}>
      <label class="form-check-label" for="estado">
        EJECUTADO
      </label>
    </div>
    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Guardar</button>
  </form>
  
  <!-- Botones fuera del formulario -->
  <a href="{% url 'proforma_pdf' proforma.id %}" target="_blank" rel="noopener noreferrer" class="btn btn-info btn-sm">
    <i class="fas fa-file-pdf"></i> Sin/Code
  </a>
  <a href="{% url 'proforma_almacen' proforma.id %}" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-sm">
    <i class="fas fa-file-pdf"></i> Con/Code
  </a>
  <a href="{% url 'proforma_list' %}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Cancelar</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/script.js' %}"></script>

<!-- JavaScript para enfocar el campo de búsqueda -->
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("search-field").focus();
  });
</script>
{% endblock %}