{% extends "core/base.html" %}

{% block content %}
<h1>Movimientos</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for movement in movements %}
        <tr>
            <td>{{ movement.id }}</td>
            {% if movement.description %}
                <td>{{ movement.description }}</td>
            {% else %}
                <td>Sin descripción</td>
            {% endif %}
            {% if movement.movement_type == 'IN' %}
                <td><span class="badge bg-warning">Ingreso</span></td>                
            {% else %}
                <td><span class="badge bg-info text-white">Egreso</span></td>
            {% endif %}
            <td>{{ movement.date|date:"d/m/Y" }}</td>
            {% if movement.status == 'F' %}
                <td><span class="badge bg-success text-dark">Finalizado</span></td>
            {% else %}
                <td><span class="badge bg-danger text-white">Pendiente</span></td>
            {% endif %}
            <td>
                <a href="" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                <a href="" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_movement' %}" class="btn btn-success btn-sm"><span class="bi bi-plus-lg"></span> Nuevo Movimiento</a>
{% endblock %}
