{% extends "core/base.html" %}

{% block content %}
<div class="container">
    <h2>Registrar Movimiento</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Movimiento -->
        <div class="card p-3 mb-3">
            <h4>Datos del Movimiento</h4>
            {{ form.as_p }}
        </div>
        
        <!-- Detalles -->
        <a href="" class="btn btn-success"><span class="bi bi-plus-lg"></span> Agregar producto</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'movement_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}