{% extends 'core/index.html' %}

{% block title %}{{title}}{% endblock %}


{% block content %}
<h2>Registrar Ingreso de Productos</h2>

<form method="post">
    {% csrf_token %}
    {{ entry_form.as_p }}

    <h3>Detalle de Productos</h3>
    
    <div id="mensaje">
        {% if messages %}
        <div>
          {% for message in messages %}
            <div class="alert alert-danger alert-sm" role="alert">
              {{ message }} 
            </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
    
    <!-- Asegúrate de incluir esto -->
    {{ formset.management_form }}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="product-list">
            {% for form in formset %}
            <tr class="product-row">
                <td>{{ forloop.counter }}</td>
                <input type="hidden" name="details-{{ forloop.counter0 }}-id" value="{{ form.instance.id }}">
                <td>{{ form.product }}</td>
                <td>{{ form.quantity }}</td>
                <td>{{ form.unit_cost }}</td>
                <td><span class="subtotal">0.00</span></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm remove-product"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-sm" id="add-product"><i class="fa fa-plus"></i> Agregar Producto</button>
    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Guardar</button>
    <a href="{% url 'product_entry' %}" class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Cancelar</a>
</form>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var formset = $('#id_details-TOTAL_FORMS');
        var product_list = $('#product-list');
        var add_product = $('#add-product');
        
        add_product.on('click', function() {
            var total_forms = parseInt(formset.val());  // Obtenemos la cantidad actual de formularios
            console.log(total_forms);
            // Clonar la última fila de productos
            var last_product = product_list.find('.product-row').last();
            var new_product = last_product.clone(true, true);

            // Actualizar el número de la fila en la primera celda <td>
            new_product.find('td:first').text(total_forms + 1);
            new_product.find('select, input').each(function() {
                                             
                var old_name = $(this).attr('name');
                if (old_name) {
                    var new_name = old_name.replace('-' + (total_forms - 1) + '-', '-' + total_forms + '-');
                    $(this).attr('name', new_name);
                }

                var old_id = $(this).attr('id');
                if (old_id) {
                    var new_id = old_id.replace('-' + (total_forms - 1) + '-', '-' + total_forms + '-');
                    $(this).attr('id', new_id);
                }

                // Limpiar valores de los inputs y selects
                $(this).val('');
            });

            new_product.find('.subtotal').text('0.00');

            // Agregar la nueva fila a la lista de productos
            product_list.append(new_product);

            // Incrementar el total de formularios
            formset.val(total_forms + 1);
            
        });

        product_list.on('click', '.remove-product', function() {
            var total_forms = parseInt(formset.val());
            if (total_forms > 1) {
                $(this).closest('.product-row').remove();
                formset.val(total_forms - 1);
            }
        });

        product_list.on('change', 'input', function() {
            var quantity = $(this).closest('.product-row').find('input[name$=quantity]').val();
            var unit_cost = $(this).closest('.product-row').find('input[name$=unit_cost]').val();
            var subtotal = parseFloat(quantity) * parseFloat(unit_cost);
            $(this).closest('.product-row').find('.subtotal').text(subtotal.toFixed(2));
        });
    });

    
        
</script>
{% endblock %}