{% extends 'core/index.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 mt-3">
    <div class="card card-dark">
        <div class="card-header">
            <h3>{{ form.instance.id|yesno:"Editar cliente,Nuevo cliente" }}</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {# Fila 1: Nombre #}
                <div class="form-group">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                {# Fila 2: NIT y Teléfono #}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form.nit.label }}</label>
                            {{ form.nit }}
                            {{ form.nit.errors }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form.phone.label }}</label>
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                    </div>
                </div>
                {# Fila 3: Email #}
                <div class="form-group">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                {# Fila 4: Dirección #}
                <div class="form-group">
                    <label>{{ form.address.label }}</label>
                    {{ form.address }}
                    {{ form.address.errors }}
                </div>
            </div>
            <hr>
            <div class="card-footer text-center mb-3">
                <button type="submit" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
                <a href="{% url 'client_list' %} " class="btn btn-danger">Cancelar <i class="fa fa-times"></i></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

