{% extends 'core/list.html' %}

{% block columns%}
<th>Nombre</th>
<th>NIT</th>
<th>Email</th>
<th>Teléfono</th>
<th>Dirección</th>
<th>Estado</th>
<th>Acciones</th>
{% endblock %}

{% block rows %}
    <td>{{ obj.name }}</td>
    <td>{{ obj.nit }}</td>
    <td>{{ obj.email }}</td>
    <td>{{ obj.phone }}</td>
    <td>{{ obj.address }}</td>
    {% if obj.status %}
    <td><span class="badge badge-success">Activo</span></td>
    {% else %}
    <td><span class="badge badge-danger">Inactivo</span></td>
    {% endif %}
{% endblock rows %}

{% block actions %}
<a href="{% url 'cliente_edit' obj.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
<a href="{% url 'cliente_status' obj.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
{% endblock actions %}

{% block create %}
<a href="{% url 'cliente_new' %}" class="btn btn-success btn-sm">Cliente <i class="fa fa-plus"></i></a>
{% endblock create %}

                