{% extends 'core/index.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<h1>{{subtitle}}</h1>
<a href="{% url 'create_purchase' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Compra</a>
<table class="table table-sm table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Proveedor</th>
            <th>Total</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.date|date:"d/m/Y" }}</td>
                <td>{{ purchase.user.name }}</td>
                <td>{{ purchase.supplier.name }}</td>
                <td class="text-right">${{ purchase.total_amount|floatformat:2 }}</td>
                <td class="text-center">
                    {% if purchase.status == "confirmed" %} 
                        <span class="badge badge-success">Confirmado</span> 
                    {% elif purchase.status == "pending" %} 
                        <span class="badge badge-warning">Pendiente</span> 
                    {% elif purchase.status == "canceled" %} 
                        <span class="badge badge-danger">Cancelado</span> 
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                    {% if purchase.status == "pending" %}
                        <a href="{% url 'update_purchase' purchase.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                    {% endif %}
                    <a href="{% url 'delete_purchase' purchase.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="5">No hay compras registradas.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}