{% extends 'core/list.html' %}

{% block columns %}                
<th>Id</th>
<th>Código</th>
<th>Descripción</th>
<th>Marca</th>
<th class="text-right" style="width: 10%;">Costo ($)</th>
<th class="text-right" style="width: 10%;">Precio ($)</th>
<th class="text-right">Stock</th>
<th class="text-center">Ubicación</th>
<th class="text-center" style="width: 10%;">Acciones</th>

{% endblock columns %}

{% block rows %}                       
<td>{{ obj.id }}</td>
<td>{{ obj.nombre }}</td>
<td>{{ obj.descripcion|truncatechars:45 }}</td>
<td>{{ obj.brand.initials }}</td>
<td class="text-right">{{ obj.cost }}</td>
<td class="text-right">{{ obj.precio }}</td>
<td class="text-right">{{ obj.stock }}</td>
{% if obj.location %}
    <td class="text-center">{{ obj.location }}</td>
{% else %}
    <td class="text-center">-</td>
{% endif %}
{% endblock rows %}

{% block actions %}
<a href="{% url 'product_detail' obj.id %}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
<a href="{% url 'product_edit' obj.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
{% endblock actions %}

{% block create %}
<a href="{% url 'producto_new' %}" class="btn btn-success btn-sm">Producto <i class="fa fa-plus"></i></a>
{% endblock create %}


